
 /* Colors */
 :root {
    --color-primary: #0d5e40;
    --color-target: #922c17;
    --color-secondary: rgb(14, 13, 13);
    --color-white: #dad4d3;
    --color-text: #0d5e40;
  }

  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }