
.grid-container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 15px;
    margin-bottom: 40px;
  }
  .grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    height: 150px;
    color: #fff;
    border-color: white;
    box-shadow: 0 4px 8px rgba(238, 162, 162, 0.1), 0 6px 20px rgba(245, 237, 237, 0.1) ; /* Added border-shadow */
}
  

  .grid-item:hover {
    background-color: rgb(138, 24, 24);
  }

  .video-div {
    align-items: center;
    justify-items: center;
    text-align: center;
    color: white;
    background-color: #000;
    margin-bottom: 15px;
  }
  .video-div > iframe {
    width: 420;
    height: 345;
    margin-bottom: 10px;
    padding: 10px;
    border-color: black;
  }


/* Responsive styles */
@media (max-width: 768px) {
  .grid-container {
    display: block;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .grid-item {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    height: 100px;
    margin: 16px;
    color: #fff;
    transition-timing-function: linear;
  }
  .grid-item > img {
    width: 70px;
    height: 70px;
  }
  .video-div > iframe {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border-color: black;
  }
}

@media (max-width: 480px) {
  .grid-container {
    display: block;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .grid-item {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    height: 100px;
    margin: 16px;
    color: #fff;
    transition-timing-function: linear;
  }
  .grid-item > img {
    width: 70px;
    height: 70px;
  }
  .video-div > iframe {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border-color: black;
  }

}


