


.item-row {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 15px;
    margin: 20px;
    padding: 15px;
    align-items: center;
    text-align: center;
}

.search-div > form > input {
    width: 50%;
    height: 50px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    align-self: center;
    align-content: center;
    border-style: solid;
    border-radius: 20px;
}

.tracksearch-submit{
    width:10%; 
    background-color: #0d5e40;
    color: white;
    border-style: solid;
    border-radius: 20px;

}

.search-div {
    align-items: center;
    text-align: center;
    align-self: center;
    align-content: center;
}

#awesome-icons {
    color:#0d5e40;
    font-size: 75px;
}

@media screen and (min-width: 300px) and (max-width:789px){

.item-row {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 6px;
    margin: 10px;
    padding: 7px;
    align-items: center;
    text-align: center;
}

.search-div > form > input {
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    align-self: center;
    align-content: center;
    border-style: solid;
    border-radius: 20px;
}

.tracksearch-submit{
    width:10%; 
    background-color: #0d5e40;
    color: white;
    border-style: solid;
    border-radius: 20px;

}

.search-div {
    align-items: center;
    text-align: center;
    align-self: center;
    align-content: center;
}

#awesome-icons {
    color:#0d5e40;
    font-size: 35px;
}
.track-item {
    align-items: center;
    text-align: center;
    align-content: center;
    align-self:center;
}
}